*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;  
}  

@font-face {
  font-family: "Norse Bold";
  src: url('fonts/webfontkit-20241202-033503/norse-bold-webfont.woff'),
  url('fonts/webfontkit-20241202-033503/norse-bold-webfont.woff2'); 
  font-weight: normal; 
  font-style: normal;
}

.container{ 
  display: flex; 
  flex-direction: column;
} 

.images{ 
  border: solid black; 
  position: relative;    
  overflow: hidden; 
  height: 60vh;
}  

.bg-img{ 
  width: 100%;
  height: 100%; 
  position: relative; 
  object-fit: cover;
} 

.logo-container{   
  display: flex; 
  justify-content: center;
  position: absolute;
  width: 100%;  
  background-color:rgba(32, 30, 30, 0.55);   
  top: 20%; 
  color: aliceblue; 
  font-family: 'Norse Bold', serif;

} 

.logo{ 
  /* position: fixed;   */
  width: 80px; 
  height: auto; 
} 

.form-header{ 
  font-size: 1.1rem; 
}